/*---------------
    Reset
---------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------------
   Tiphograqphy
---------------*/ 

body {
    color: #fff;
    font-family: "Roboto", serif;
    line-height: 25px;
}


/*---------------
     General
---------------*/ 

ul li {
    list-style: none;
}

ul li > a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    color:black;
    cursor: pointer;
}

.btn-grey {
    margin-left: 20px;
    background-color: #23272a;
    color: #fff;
}

i {
    margin-right: 6px;
}


main h1, h2, p {
    color: #23272a;
}


main section:nth-of-type(even) {
    background-color: #f6f6f6;
}

img {
    max-width: 100%;
}

header h1, h2, 
main h1, h2 {
    margin-bottom: 50px;
    padding-top: 38px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    justify-content: center;
}

.container-info {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #7289da ;
}

.container-nav, .container-end {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}    


/*---------------
     Header
---------------*/   

header p {
    color: #fff;
}

.container-top {
    background-color: #255EE9;
}

.container-nav {
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.container-bottom {
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
}

.head-bottom {
    padding: 150px 0;
}



.hero {
    width: 900px;
    min-height: 400px;
    text-align: center;
    justify-content: center;
}



p{
    margin-bottom: 50px;
}

.btn-bottom {
    background-color: #8ea1e1;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}


/*---------------
      Main
---------------*/

/* Section Related  */



.col-big {
    width: 70%;
}

.col-small {
    width: 30%;
    align-self: flex-start;
}

/* The mitting place  */

.the-place {
    background-color: #f6f6f6;
}

/* Tehnology  */

.tehnology {
    width: 100%;
    min-height: 900px;
    text-align: center;
    padding-bottom: 40px;
}



/*---------------
      Footer
---------------*/
/* Footer info  */
footer {
    background-color: #23272a;
}

.col-big-info {
    width: 40%;
    min-height: 600px;
}

.col-small-info {
    width: 15%;
    min-height: 600px;
    line-height: 25px;
}

/* Footer end  */


footer h1, h3, h6 {
    color: #7289da;   
    line-height: 30px;
}

h1, h6 {
    padding-top: 38px;
}

h6 {
    font-size: 15px;
}

footer h3 {
    color: #fff;
    font-size: 16px;
}


.list {
    display: inline-block;
}

.flag {
    width: 16px;
    height: 16px;
}


.bar-end {
    min-height: 80px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}


.btn-end {
    background-color: #8ea1e1;
}

.fa-instagram, .fa-facebook, .fa-youtube {
    margin-left: 20px;
}