/*---------------
    Reset
---------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------------
   Tiphograqphy
---------------*/ 

body {
    color: #fff;
    font-family: "Roboto", serif;
    line-height: 25px;
}


/*---------------
     General
---------------*/ 

ul li {
    list-style: none;
}

ul li > a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    color:black
}

.btn-grey {
    margin-left: 20px;
    background-color: #23272a;
    color: #fff;
}

i {
    margin-right: 6px;
}


main h1, p {
    color: #23272a;
}
.qr-app, 
.col-big-info, .col-small-info {
    margin-top: 10px;
    margin-bottom: 30px;
    border: black 1px dashed;
}

.container {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    justify-content: center;
}

.container-info {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 40px;
}

.container-nav, .container-end {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}    


/*---------------
     Header
---------------*/   
.container-top {
    background-color: #255EE9;
}

.container-nav {
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.login {
    color: #23272a;
}


.link {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.container-bottom {
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
}

.head-bottom {
    padding: 150px 0;
}



.hero {
    width: 900px;
    min-height: 400px;
    text-align: center;
    justify-content: center;
}

h1 {
    margin-bottom: 50px;
}

p{
    margin-bottom: 50px;
}


/*---------------
      Main
---------------*/

/* Section Related  */



.col-big {
    width: 80%;
}

.col-small {
    width: 20%;
    align-self: center;
}

/* Work with us  */

.work-with-us, .download-app {
    background-color: #d3d3d3;
}

/* Codice QR for APP  */

.qr-app {
    width: 100%;
    min-height: 900px;
    background-color: #228b22;
}

/*---------------
      Footer
---------------*/
/* Footer info  */
footer {
    background-color: #23272a;
}

.col-big-info {
    width: 40%;
    min-height: 600px;
    background-color: #f08080;
}

.col-small-info {
    width: 15%;
    min-height: 600px;
    background-color: #20b2aa;
}

/* Footer end  */

.footer-end {
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
}

.bar-end {
    background-color: #7fffd4;
    min-height: 80px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.end-logo, .button {
    background-color: #ffb6c1;
    text-align: center;
    padding: 8px;
}